body {
    background: #000 url('') center center fixed;
    background-size: cover;
    color: #d7cece;
    font-family: 'Orbitron', sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #0ff;
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 0.75);
  }
  
 
  h3 {
    text-shadow: 0 0 1px #0ff, 0 0 1px #0ff, 0 0 1px #0ff, 0 0 1px #0ff;
    color: #0ff;
  }
  h4 {
    color: #0ff;
  }
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  

  p {
    color: #d7cece;
    line-height: 1.6;
  }
  

